.not-found-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding: 280px 0;
  gap: 20px;

  .error-title {
    font-size: 4rem;
  }

  .error-description {
    margin-top: 20px;
  }
}
