.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  z-index: 99999;

  .spinner {
    display: flex;
  }
}

@media (width < 500) {

  .spinner-container {
    height: 60vh;

    .spinner {
      font-size: 0.8rem;
      width: 20em;
    }
  }
}

