.discover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .under-construction-section {
    display: flex;
    position: relative;
    padding: 40px;

    .under-construction-container {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      gap: 30px;
      padding: 40px;
      box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.12);

      .under-construction-title {
        color: $primary;
        font-size: 1.8rem;
        font-weight: $font-weight-bold;
      }

      .under-construction-developers,
      .under-construction-apologize {
        font-size: 1.1rem;
      }
    }
  }
}

@media (width < 600px) {

  .discover-container {


    .under-construction-section {
      padding-bottom: 120px;

      .under-construction-container {

        .under-construction-title {
          font-size: 1.2rem;
        }

        .under-construction-developers,
        .under-construction-apologize {
          font-size: 0.9rem;
        }
      }
    }
  }
}
