.discover-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  span {
    display: flex;
  }
}

@media (width < 670px) {

  .discover-container {
    height: 90vh;
  }
}
