.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  width: 100%;
  height: 72px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.05);
  z-index: 10;

  .logoAndSearch {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 48px 0px 28px;
    gap: 48px;

    .logo {
      padding-left: 10px;
    }

    .searcher {
      width: 100%;

      .searchLabel {
        display: flex;
        align-items: center;

        .lensContainer {
          display: flex;
          position: absolute;
          justify-content: center;
          align-items: center;

          .lens {
            display: flex;
            margin-left: 1em;
          }
        }

        .searchInput {
          width: 100%;
          padding: 6px 13px 6px 50px;
          height: 46px;
          gap: 13px;
          border-radius: 8px;
          border: 1px solid #0000001A;
          outline: none;
          line-height: 20px;
          font-family: inherit;
          font-size: 16px;
        }
      }
    }
  }

  .navigation {
    display: flex;
    justify-content: end;
    padding: 16px 48px 16px 0px;
    gap: 24px;

    .userIconContainer {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      object-fit: fill;
      cursor: pointer;
    }
  }
}

@media (width < 870px) {
  .header {
    display: flex;
    position: relative;

    .logoAndSearch {
      padding-left: 10px;
      min-width: 164px;
      gap: 20px;

      .logo {
        margin: 0;
        padding: 0;
      }

      .searcher {
        min-width: 170px;
        margin: 0;
        padding: 0;
      }
    }

    .navigation {
      width: 100%;
      padding: 12px 10px 16px 0px;
      gap: 14px;
    }
  }
}

@media (min-width: 400px) and (max-width: 700px) {
  .header {
    display: flex;
    align-content: center;
    text-align: center;
    min-height: 150px;
    justify-content: center;
    align-items: center;

    .logoAndSearch {
      padding-left: 40px;
      padding-bottom: 50px;

      .searcher {
        min-width: 170px;
      }
    }

    .navigation {
      display: flex;
      position: absolute;
      text-align: center;
      justify-content: center;
      margin-top: 80px;
    }
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  .header {
    min-height: 140px;

    .logoAndSearch {
      padding-left: 40px;
      padding-bottom: 50px;

      .searcher {
        min-width: 170px;
      }
    }

    .navigation {
      display: flex;
      position: absolute;
      text-align: center;
      justify-content: center;
      margin-top: 70px;
    }
  }
}
