.tabs-container {
  display: flex;
  flex-direction: column;
  padding: 60px 0;

  .tabs-list {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
    padding-top: 60px;

    .tabs-list-title {
      font-size: 1.8rem;
      padding: 10px 14px;
      border-radius: 8px;
      font-family: inherit;
      border: none;
      outline: none;
      cursor: pointer;
      color: #fff;
      font-weight: $font-weight-medium;
      background-color: $primary;
      box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.01);
    }

    .tabs-list-title:hover {
      color: $dark;
      font-weight: $font-weight-bold;
    }
  }
}

.favorite,
.favorite.active {
  font-size: 2.2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.favorite-icon:hover {
  color: #ff0000;
}

@media (width < 650px) {

  .tabs-container {

    .tabs-list {
      gap: 30px;

      .tabs-list-title {
        font-size: 1.4rem;
      }
    }
  }
}

.empty-list-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58.2vh;

  .empty-list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px;
    gap: 40px;
    box-shadow: 0px 6px 25px 0px rgba(0, 0, 0, 0.12);
    cursor: default;

    .empty-list-title {
      color: $primary;
      font-size: 1.8rem;
      font-weight: $font-weight-bold;
    }

    .empty-list-description {
      font-size: 1.1rem;

      strong {
        font-weight: $font-weight-bold;
      }
    }
  }
}

@media (width < 540px) {

  .empty-list-section {
    .empty-list-container {
      padding: 20px;

      .empty-list-description {
        font-size: 0.9rem;
      }
    }
  }
}
