.navbar {
  display: flex;
  align-items: center;

  .navbar-list {
    display: flex;
    flex-direction: row;
    gap: 22px;

    .navbar-label {
      color: $dark;
      font-weight: $font-weight-bold;
      transition: color 0.25s ease;
      font-size: 18px;

      .navbar-label:active,
      .navbar-label:hover {
        color: $primary;
      }
    }

    .navbar-discover-label {
      color: $primary;
      transition: color 0.25s ease;

      .navbar-discover-label:active,
      .navbar-discover-label:hover {
        color: $secondary;
      }
    }
  }
}

@media (width < 870px) {

  .navbar {

    .navbar-list {
      gap: 12px;
    }
  }
}
