.navbar {
  display: flex;
  align-items: center;

  .navbarList {
    display: flex;
    flex-direction: row;
    gap: 22px;

    .navbarLabel {
      color: $dark;
      font-weight: $font-weight-bold;
      transition: color 0.25s ease;
      font-size: 18px;

      .navbarLabel:active,
      .navbarLabel:hover {
        color: $primary;
      }
    }

    .navbarDiscoverLabel {
      color: $primary;
      transition: color 0.25s ease;

      .navbarDiscoverLabel:active,
      .navbarDiscoverLabel:hover {
        color: $secondary;
      }
    }
  }
}

@media (width < 870px) {

  .navbar {

    .navbarList {
      gap: 8px;
    }
  }
}
