.trending-tracks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;

  .trending-tracks-header {
    width: 100%;
    justify-content: flex-start;
    font-size: 32px;
    color: $dark;
    padding: 120px 0px 4px 48px;
    cursor: default;
  }

  .trending-tracks-container {
    width: 100%;
    gap: 30px;
    padding: 40px 48px;

    .trending-tracks-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      grid-gap: 2rem;
    }
  }
}

@media (width < 770px) {
  .trending-tracks {

    .trending-tracks-header {
      justify-content: center;
      text-align: center;
    }
  }
}
